<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <%- include('./partials/navbar')%>
        
    <div class="container">
            <h2>Register</h2>
            <h4>Register using the form below</h4>
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" id="username" name="name"  aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="useremail">Email</label>
                    <input type="text" class="form-control" id="useremail" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="userpassword">Password</label>
                    <input type="password" class="form-control" id="userpassword" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="userconfirmpassword">Confirm Password</label>
                    <input type="password" class="form-control" id="userconfirmpassword" name="confirmpassword" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <label for="profilepicture">Upload your profile picture</label>
                    <input type="file" class="form-control-file" id="profilepicture" name="profileimage">
                </div>
                <button type="submit" class="btn btn-primary" name="submit" value="Register">Submit</button>
            </form>

            <% for(let i=0;i<errors.length;i++) {%>
            <p><%- errors[i].msg%></p>
            <%}%>
    </div>

</body>
</html>